<template>
  <v-row v-if="!indicesReady">
    <v-col
      sm="10"
      offset-sm="1"
      md="8"
      offset-md="2"
      xl="6"
      offset-xl="3"
    >
      <v-card>
        <v-card-text>
          <div class="text-center">
            Building search index...
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
  <!-- Rule is too strict. -->
  <!-- eslint-disable-next-line vue/valid-template-root -->
  <v-row v-else>
    <v-col
      cols="4"
      class="filters"
    >
      <v-row>
        <v-col cols="12">
          <v-card v-if="textFields.length">
            <v-card-text>
              <v-text-field
                v-model="search"
                :error-messages="searchError"
                :hide-details="!searchError"
                label="Search"
                outlined
              />
            </v-card-text>
          </v-card>
        </v-col>
        <v-col v-for="field in facetedFields" :key="field" cols="12">
          <v-card>
            <v-card-title class="justify-space-between flex-nowrap">
              <div :title="getFieldLabel(field)" class="flex-grow-1 flex-shrink-1 text-truncate">
                {{ getFieldLabel(field) }}
              </div>
              <v-select
                v-if="config[field].type === 'categorical'"
                v-model="categoricalFilters[field].logic"
                :items="[{text: 'Or', value: 'or'}, {text: 'And', value: 'and'}]"
                class="logic flex-grow-0 flex-shrink-1 ml-2"
                label="Logic"
                height="32"
                outlined
                hide-details
                dense
              />
              <v-btn
                v-else-if="histogramsForTimestampAndNumericFields && histogramsForTimestampAndNumericFields.get(field)"
                @click.prevent="filterValues[field] = [getFieldMin(field), getFieldMax(field)]"
                class="flex-grow-0 flex-shrink-1 ml-2"
                outlined
                small
              >All</v-btn>
            </v-card-title>
            <v-card-text v-if="config[field].type === 'categorical'">
              <v-checkbox
                v-for="value in Array.from(indicesForCategoricalFields.get(field).keys()).sort()"
                v-model="categoricalFilters[field].values"
                :value="value"
                :hide-details="true"
                :multiple="true"
                :key="value"
              >
                <template v-if="value === undefined" v-slot:label>
                  <em>missing</em> <span class="facet-count">({{ countsForCategoricalFields && countsForCategoricalFields.get(field).get(value) || 0 }})</span>
                </template>
                <template v-else v-slot:label>
                  {{ value }} <span class="facet-count">({{ countsForCategoricalFields && countsForCategoricalFields.get(field).get(value) || 0 }})</span>
                </template>
              </v-checkbox>
            </v-card-text>
            <v-card-text
              v-else-if="!histogramsForTimestampAndNumericFields || !histogramsForTimestampAndNumericFields.get(field)"
              class="text-center text--secondary"
            >
              No range of values.
            </v-card-text>
            <v-card-text v-else>
              <v-sparkline
                :value="histogramsForTimestampAndNumericFields.get(field).map(x => x.count)"
                auto-line-width
                type="bar"
                padding="1"
                class="ml-2 mr-2"
              />
              <!--
                TODO: What about results which are missing or have invalid value for this field?
                      We should allow including/excluding those with additional checkbox (labeled "missing").
              -->
              <v-range-slider
                v-model="filterValues[field]"
                :step="config[field].type === 'timestamp' || config[field].type === 'float' ? 0 : 1"
                :min="getFieldMin(field)"
                :max="getFieldMax(field)"
                hide-details
              />
              <div class="d-flex ml-1 mr-1 justify-space-between">
                <span>{{ getFieldMinLabel(field) }}</span>
                <span>{{ getFieldMaxLabel(field) }}</span>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
    <v-col
      cols="8"
      class="results"
    >
      <v-row>
        <v-col cols="12" class="results-header">
          <v-card>
            <v-app-bar flat>
              <div v-if="display.length == results.length && results.length == data.length">
                Showing {{ display.length }} results
              </div>
              <div v-else-if="results.length == data.length">
                Showing {{ display.length }} of {{ results.length }} results
              </div>
              <div v-else-if="display.length == results.length">
                Showing {{ display.length }} results filtered from {{ data.length }} all
              </div>
              <div v-else>
                Showing {{ display.length }} of {{ results.length }} results filtered from {{ data.length }} all
              </div>
              <v-spacer />
              <template v-if="sortingFieldsToDisplay.length">
                <v-select
                  v-if="sortingFieldsToDisplay.length > 1"
                  v-model="sortBy"
                  :items="sortingFieldsToDisplay"
                  class="sorted-by"
                  label="Sorted by"
                  outlined
                  hide-details
                  dense
                />
                <div v-else>
                  Sorted by {{ sortingFieldsToDisplay[0].text }}.
                </div>
                <v-btn-toggle
                  v-model="order"
                  mandatory
                  class="ml-4"
                >
                  <v-btn
                    icon
                    value="desc"
                    title="Descending"
                    outlined
                    small
                  >
                    <v-icon>mdi-sort-descending</v-icon>
                  </v-btn>
                  <v-btn
                    icon
                    value="asc"
                    title="Ascending"
                    outlined
                    small
                  >
                    <v-icon>mdi-sort-ascending</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </template>
            </v-app-bar>
          </v-card>
        </v-col>

        <v-col v-for="(item, index) in display" :key="item.doc[idField]" cols="12">
          <slot
            :result="item.doc"
            :metadata="item.metadata"
            :index="index"
            :display="display"
            :results="results"
            :data="data"
            name="result"
          />
        </v-col>

        <v-col v-if="!display.length" cols="12">
          <slot name="no-results">
            <v-card>
              <v-card-text
                class="text-center text--secondary"
              >
                No search results.
              </v-card-text>
            </v-card>
          </slot>
        </v-col>
        <v-col v-else-if="display.length < results.length" cols="12">
          <slot name="more-results">
            <v-card>
              <v-card-text
                class="text-center text--secondary"
              >
                Scroll for more search results.
              </v-card-text>
            </v-card>
          </slot>
        </v-col>
        <v-col v-else-if="display.length === results.length" cols="12">
          <slot name="more-results">
            <v-card>
              <v-card-text
                class="text-center text--secondary"
              >
                There are no more search results.
              </v-card-text>
            </v-card>
          </slot>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
  import assert from 'assert';
  import createKDTree from 'static-kdtree';
  import debounce from 'lodash.debounce';
  import omit from 'lodash.omit';
  import lunr from 'lunr';
  import LRU from 'lru-cache';

  const HISTOGRAM_BINS = 100;
  const LRU_CACHE_SIZE = 2 * HISTOGRAM_BINS;
  const DEBOUNCE_TIMEOUT = 200; // ms
  const RESULTS_PER_PAGE = 10;
  // We know this tag is good enough because it is used only on sanitized, normalized, and properly escaped HTML.
  // From: https://stackoverflow.com/a/17668453/252025
  const HTML_TAG_REGEX = new RegExp('<(?:[^>=]|=\'[^\']*\'|="[^"]*"|=[^\'"][^\\s>]*)*>', 'g');

  function getValue(obj, path) {
    for (const segment of path.split('.')) {
      obj = obj[segment];
    }
    return obj;
  }

  function getValues(obj, path) {
    let values = getValue(obj, path);

    if (!Array.isArray(values)) {
      values = [values];
    }
    if (!values.length) {
      values = [undefined];
    }

    return values;
  }

  function setUnion(set1, set2) {
    return new Set([...set1, ...set2]);
  }

  function setIntersection(set1, set2) {
    return new Set([...set1].filter(x => set2.has(x)));
  }

  function setEqual(set1, set2) {
    if (set1.size !== set2.size) {
      return false;
    }

    for (const item of set1) {
      if (!set2.has(item)) {
        return false;
      }
    }

    return true;
  }

  function arraySetEqual(array1, array2) {
    return setEqual(new Set(array1), new Set(array2));
  }

  // Replaces all HTML tags with spaces. This makes highlighting positions
  // not move and they can be easily applied back to the original string.
  // This assumes HTML string has been properly encoded and that "<" and ">"
  // occur just to delimit HTML tags.
  function removeHTML(text) {
    return text.replace(HTML_TAG_REGEX, (match) => {
      return ' '.repeat(match.length);
    });
  }

  // @vue/component
  const component = {
    // TODO: Recreate indices and invalidate cache if props change.
    props: {
      data: {
        type: Array,
        required: true,
      },
      config: {
        type: Object,
        required: true,
      },
      idField: {
        type: String,
        default: 'id',
      },
    },

    data() {
      const filterValues = {};
      const categoricalFilters = {};
      let defaultSort = null;

      for (const [field, config] of Object.entries(this.config)) {
        if (config.type === 'categorical') {
          if (config.hasOwnProperty('default')) {
            if (!Array.isArray(config.default)) {
              throw new TypeError(`Default for field '${field}' is not an array.`);
            }
            categoricalFilters[field] = { values: config.default.slice(0) };
          } else {
            categoricalFilters[field] = { values: [] };
          }
          if (config.logic) {
            if (config.logic === 'or' || config.logic === 'and') {
              categoricalFilters[field].logic = config.logic;
            } else {
              throw new TypeError(`Logic for field '${field}' is not 'or' or 'and'.`);
            }
          } else {
            categoricalFilters[field].logic = 'or';
          }
        } else if (config.type === 'integer') {
          filterValues[field] = [Number.MIN_SAFE_INTEGER, Number.MAX_SAFE_INTEGER];
        } else if (config.type === 'timestamp' || config.type === 'float') {
          filterValues[field] = [-Number.MAX_VALUE, Number.MAX_VALUE];
        }

        if (config.defaultSort) {
          defaultSort = field;
        }
      }

      return {
        displayLimit: RESULTS_PER_PAGE,
        filterValues,
        categoricalFilters,
        defaultSort,
        sortBy: defaultSort,
        order: 'desc',
        search: null,
        searchDebounced: null,
        searchError: null,
        initialQuery: null,
        indicesReady: false,
        indicesForCategoricalFields: null,
        valuesMapForCategoricalFields: null,
        indexForTimestampAndNumericFields: null,
        indexForTextFields: null,
        dataMap: null,
        minForTimestampAndNumericFields: null,
        minForTimestampAndNumericFieldsMap: null,
        maxForTimestampAndNumericFields: null,
        maxForTimestampAndNumericFieldsMap: null,
        isActive: true,
      };
    },

    computed: {
      display() {
        return Object.freeze(this.results.slice(0, this.displayLimit));
      },

      results() {
        if (!this.isActive) {
          return [];
        }

        let field;
        if (this.sortBy === '.') {
          field = 'score';
        } else {
          field = `doc.${this.sortBy}`;
        }

        let compareFunction;
        if (this.order === 'asc') {
          compareFunction = (a, b) => {
            return getValue(a, field) - getValue(b, field);
          };
        } else {
          compareFunction = (a, b) => {
            return getValue(b, field) - getValue(a, field);
          };
        }

        return Object.freeze(this.getResults({ ignoreFiltersForField: null, withExtra: true }).sort(compareFunction));
      },

      textFields() {
        return this.fieldsOfType('text');
      },

      categoricalFields() {
        return this.fieldsOfType('categorical');
      },

      facetedFields() {
        return this.fieldsOfType(['timestamp', 'integer', 'float', 'categorical']);
      },

      timestampAndNumericFields() {
        return this.fieldsOfType(['timestamp', 'integer', 'float']);
      },

      sortingFields() {
        const fields = [];

        for (const [field, config] of Object.entries(this.config)) {
          if (config.sortable) {
            fields.push(field);
          }
        }

        return fields;
      },

      sortingFieldsToDisplay() {
        const fields = [];

        if (this.textFields.length) {
          fields.push({
            text: 'Best match',
            value: '.',
            disabled: !this.search,
          });
        }

        for (const field of this.sortingFields) {
          fields.push({
            text: this.getFieldLabel(field),
            value: field,
          });
        }

        return fields;
      },

      // TODO: Debounce. Or move compute to a web worker. See: https://github.com/vuejs/vue/issues/10974
      countsForCategoricalFields() {
        return Object.freeze(this.getCountsForCategoricalFields());
      },

      // TODO: Debounce. Or move compute to a web worker. See: https://github.com/vuejs/vue/issues/10974
      histogramsForTimestampAndNumericFields() {
        return Object.freeze(this.getHistogramsForTimestampAndNumericFields());
      },
    },

    watch: {
      search(newValue, oldValue) {
        if (!this.isActive) {
          return;
        }

        this.searchError = null;

        // If sorting by "best match" is selected but search query gets cleared,
        // then we revert the selection back to the default sort.
        if ((!newValue || !newValue.length) && (this.sortBy === '.')) {
          this.sortBy = this.defaultSort;
        }

        this.setSearchDebounced(newValue);
      },

      results(newValue, oldValue) {
        if (!this.isActive) {
          return;
        }

        this.displayLimit = RESULTS_PER_PAGE;
      },
    },

    created() {
      this.setSearchDebounced = debounce((search) => {
        this.searchDebounced = search;
      }, DEBOUNCE_TIMEOUT);
      this.updateQueryDebounced = debounce(() => {
        this.updateQuery();
      }, DEBOUNCE_TIMEOUT);

      this.categoricalResultsCache = new LRU(LRU_CACHE_SIZE);
      this.rangeResultsCache = new LRU(LRU_CACHE_SIZE);
      this.textResultsCache = new LRU(LRU_CACHE_SIZE);
      this.histogramsRangeResultsCache = new Map();
    },

    mounted() {
      // TODO: Determine proper scrolling parent and use its scrolling position.
      this.scrolling = { parent: window, options: { passive: true } };
      this.scrolling.parent.addEventListener('scroll', this.onScrollResize, this.scrolling.options);
      this.scrolling.parent.addEventListener('resize', this.onScrollResize, this.scrolling.options);

      // "this.$nextTick" is too soon. We want "building search index"
      // to be rendered and shown first.
      setTimeout(() => {
        // Trigger building indices.
        this.initializeIndices();

        // Update ranges to proper values (we constructed filters with
        // "Number.MAX_VALUE" and "Number.MAX_VALUE").
        this.initializeRanges();

        // Now that we updated ranges, we can remember what is the initial query
        // given initial filters. We use this to compare any changes to filters
        // and push into the query string any differences from the initial query.
        this.initialQuery = Object.freeze(this.constructFullQuery());

        // Watch to update the query string from filters.
        this.$watch(() => {
          if (!this.isActive) {
            return;
          }

          // Calling so that we register all reactive dependencies.
          this.constructQuery();

          // Schedule updating the query with current filters.
          this.updateQueryDebounced();
        });

        // Watch to update filters from the query string.
        this.$watch(() => {
          if (!this.isActive) {
            return {};
          }

          return this.$route.query;
        // We use callback so that we do not introduce reactive dependencies
        // from "updateFromQuery".
        }, (newValue, oldValue) => {
          if (!this.isActive) {
            return;
          }

          // TODO: Can we be sure that we are not reverting to old filters?
          //       What happens if user changes filters, we update the query string, user changes
          //       filters more, the query string change is detected and we get here to update
          //       filters. Do we revert to old filters, skipping those more changes to filters?
          this.updateFromQuery(newValue);
        }, {
          immediate: true,
        });
      }, 0);
    },

    beforeDestroy() {
      this.scrolling.parent.removeEventListener('scroll', this.onScrollResize, this.scrolling.options);
      this.scrolling.parent.removeEventListener('resize', this.onScrollResize, this.scrolling.options);
    },

    activated() {
      this.isActive = true;
    },

    deactivated() {
      this.isActive = false;

      // Reset the initial filters.
      this.updateFromQuery({});
      this.displayLimit = RESULTS_PER_PAGE;
    },

    methods: {
      initializeIndices() {
        this.indicesForCategoricalFields = Object.freeze(this.getIndicesForCategoricalFields());
        this.valuesMapForCategoricalFields = Object.freeze(this.getValuesMapForCategoricalFields());

        const min = this.timestampAndNumericFields.map(field => Number.MAX_VALUE);
        const minMap = new Map(this.timestampAndNumericFields.map(field => [field, Number.MAX_VALUE]));
        const max = this.timestampAndNumericFields.map(field => -Number.MAX_VALUE);
        const maxMap = new Map(this.timestampAndNumericFields.map(field => [field, -Number.MAX_VALUE]));

        if (this.timestampAndNumericFields.length) {
          const points = this.data.map((item) => {
            return this.timestampAndNumericFields.map(field => getValue(item, field));
          });

          this.indexForTimestampAndNumericFields = Object.freeze(createKDTree(points));

          if (points.length) {
            // TODO: Retrieve from the index. See: https://github.com/mikolalysenko/static-kdtree/issues/12
            for (const [index, field] of this.timestampAndNumericFields.entries()) {
              min[index] = points.reduce((min, p) => p[index] < min ? p[index] : min, min[index]);
              minMap.set(field, min[index]);
              max[index] = points.reduce((max, p) => p[index] > max ? p[index] : max, max[index]);
              maxMap.set(field, max[index]);
            }
          }
        }

        this.minForTimestampAndNumericFields = Object.freeze(min);
        this.minForTimestampAndNumericFieldsMap = Object.freeze(minMap);
        this.maxForTimestampAndNumericFields = Object.freeze(max);
        this.maxForTimestampAndNumericFieldsMap = Object.freeze(maxMap);

        if (this.textFields.length) {
          const self = this;
          this.indexForTextFields = Object.freeze(lunr(function () {
            this.ref(self.idField);
            this.metadataWhitelist = ['position'];

            for (const field of self.textFields) {
              this.field(field, {
                extractor(doc) {
                  return removeHTML(getValue(doc, field));
                },
              });
            }

            for (const doc of self.data) {
              this.add(doc);
            }
          }));

          // Used by full-text search to resolve results.
          this.dataMap = Object.freeze(new Map(this.data.map(item => [item[this.idField], item])));
        }

        this.indicesReady = true;
      },

      initializeRanges() {
        for (const field of this.timestampAndNumericFields) {
          this.filterValues[field] = [this.getFieldMin(field), this.getFieldMax(field)];
        }
      },

      onScrollResize() {
        if (!this.isActive) {
          return;
        }

        const approximateResultHeight = document.documentElement.scrollHeight / this.displayLimit;
        if (document.documentElement.scrollTop + document.documentElement.clientHeight + RESULTS_PER_PAGE * approximateResultHeight < document.documentElement.scrollHeight) {
          return;
        }

        const newDisplayLimit = Math.min(this.results.length, this.displayLimit + RESULTS_PER_PAGE);
        if (newDisplayLimit !== this.displayLimit) {
          this.displayLimit = newDisplayLimit;
          // See if we have to increase the limit even more.
          this.$nextTick(this.onScrollResize);
        }
      },

      fieldsOfType(types) {
        if (!Array.isArray(types)) {
          types = [types];
        }

        const fields = [];

        for (const [field, config] of Object.entries(this.config)) {
          if (types.includes(config.type)) {
            fields.push(field);
          }
        }

        return fields;
      },

      getFieldLabel(field) {
        return this.config[field].label || field;
      },

      getFieldMin(field) {
        return this.minForTimestampAndNumericFieldsMap.get(field);
      },

      getFieldMinLabel(field) {
        if (this.config[field].formatValue) {
          return this.config[field].formatValue.call(this, this.minForTimestampAndNumericFieldsMap.get(field), field);
        } else {
          return this.minForTimestampAndNumericFieldsMap.get(field);
        }
      },

      getFieldMax(field) {
        const min = this.minForTimestampAndNumericFieldsMap.get(field);
        const max = this.maxForTimestampAndNumericFieldsMap.get(field);
        const fieldConfig = this.config[field];
        const range = max - min;

        // Handling a special case here as well, as described in "getFieldHistogram",
        // to compensate to make the slider aligned with the histogram which has one
        // more artificial bin.
        if (fieldConfig.type === 'integer' && range + 1 < HISTOGRAM_BINS) {
          return max + 1;
        } else {
          return max;
        }
      },

      getFieldMaxLabel(field) {
        if (this.config[field].formatValue) {
          return this.config[field].formatValue.call(this, this.maxForTimestampAndNumericFieldsMap.get(field), field);
        } else {
          return this.maxForTimestampAndNumericFieldsMap.get(field);
        }
      },

      getIndicesForCategoricalFields() {
        const indices = new Map();

        for (const field of this.categoricalFields) {
          const fieldMap = new Map();
          indices.set(field, fieldMap);

          for (const item of this.data) {
            const values = getValues(item, field);

            for (const v of values) {
              if (!fieldMap.has(v)) {
                fieldMap.set(v, new Set());
              }

              fieldMap.get(v).add(item);
            }
          }
        }

        return indices;
      },

      getValuesMapForCategoricalFields() {
        const fields = new Map();

        for (const [field, fieldMap] of this.indicesForCategoricalFields.entries()) {
          const valuesMap = new Map();
          fields.set(field, valuesMap);

          for (const value of fieldMap.keys()) {
            valuesMap.set(`${value}`, value);
          }
        }

        return fields;
      },

      getCountsForCategoricalFields() {
        const fields = new Map();

        for (const field of this.categoricalFields) {
          const fieldMap = new Map();
          fields.set(field, fieldMap);

          let results;

          if (this.categoricalFilters[field].logic === 'or') {
            results = this.getResults({ ignoreFiltersForField: field, withExtra: false });
          } else if (this.categoricalFilters[field].logic === 'and') {
            results = this.getResults({ ignoreFiltersForField: null, withExtra: false });
          } else {
            throw new Error(`Unknown filter logic '${this.categoricalFilters[field].logic}'.`);
          }

          for (const [value, items] of this.indicesForCategoricalFields.get(field).entries()) {
            fieldMap.set(value, setIntersection(results, items).size);
          }
        }

        return fields;
      },

      getResults({ ignoreFiltersForField, withExtra }) {
        if (!this.indicesReady) {
          return [];
        }

        let results = this.getResultsSetCategorical(omit(this.categoricalFilters, ignoreFiltersForField));

        if (this.timestampAndNumericFields.length) {
          const lower = this.minForTimestampAndNumericFields.slice(0);
          const upper = this.maxForTimestampAndNumericFields.slice(0);

          for (const [index, field] of this.timestampAndNumericFields.entries()) {
            if (ignoreFiltersForField === field) {
              continue;
            }

            if (this.filterValues[field]) {
              const [l, u] = this.filterValues[field];
              this.updateLower(lower, index, l);
              this.updateUpper(upper, index, u);
            }
          }

          const rangeResults = this.getResultsSetRange(lower, upper, this.rangeResultsCache);

          if (results === null) {
            results = rangeResults;
          } else {
            results = setIntersection(results, rangeResults);
          }
        }

        let extra;
        if (this.textFields.length && this.searchDebounced && this.searchDebounced.length) {
          const { docs: textResults, extra: textExtra } = this.getResultsSetText(this.searchDebounced);

          extra = textExtra;

          if (results === null) {
            results = textResults;
          } else {
            results = setIntersection(results, textResults);
          }
        } else {
          extra = new Map();
        }

        if (withExtra) {
          if (results === null) {
            return this.data.map(item => ({ doc: item }));
          } else {
            return Array.from(results.values(), item => ({ doc: item, ...extra.get(item[this.idField]) }));
          }
        } else if (results === null) {
          return this.data;
        } else {
          return Array.from(results.values());
        }
      },

      getResultsSetCategorical(filters) {
        const cacheKey = JSON.stringify(filters);
        const cachedResult = this.categoricalResultsCache.get(cacheKey);

        if (cachedResult !== undefined) {
          return cachedResult;
        } else {
          const result = this.computeResultsSetCategorical(filters);
          this.categoricalResultsCache.set(cacheKey, result);
          return result;
        }
      },

      computeResultsSetCategorical(filters) {
        // Returning "null" means categorical filters are not filtering anything out.
        let results = null;

        for (const [field, filter] of Object.entries(filters)) {
          if (!filter.values.length) {
            continue;
          }

          const fieldIndex = this.indicesForCategoricalFields.get(field);

          let fieldResults = null;

          if (filter.logic === 'or') {
            fieldResults = new Set();

            for (const v of filter.values) {
              fieldResults = setUnion(fieldResults, fieldIndex.get(v));
            }
          } else if (filter.logic === 'and') {
            for (const v of filter.values) {
              if (fieldResults === null) {
                fieldResults = fieldIndex.get(v);
              } else {
                fieldResults = setIntersection(fieldResults, fieldIndex.get(v));
              }
            }
          } else {
            throw new Error(`Unknown filter logic '${filter.logic}'.`);
          }

          if (results === null) {
            results = fieldResults;
          } else {
            results = setIntersection(results, fieldResults);
          }
        }

        return results;
      },

      getResultsSetRange(lower, upper, cache) {
        const cacheKey = JSON.stringify({ lower, upper });
        const cachedResult = cache.get(cacheKey);

        if (cachedResult !== undefined) {
          return cachedResult;
        } else {
          const result = this.computeResultsSetRange(lower, upper);
          cache.set(cacheKey, result);
          return result;
        }
      },

      computeResultsSetRange(lower, upper) {
        const result = new Set();

        this.indexForTimestampAndNumericFields.range(lower, upper, (i) => {
          result.add(this.data[i]);
        });

        return result;
      },

      getResultsSetText(searchQuery) {
        const cacheKey = searchQuery;
        const cachedResult = this.textResultsCache.get(cacheKey);

        if (cachedResult !== undefined) {
          return cachedResult;
        } else {
          try {
            const result = {
              docs: new Set(this.indexForTextFields.search(searchQuery).map(result => this.dataMap.get(result.ref))),
              extra: new Map(this.indexForTextFields.search(searchQuery).map(result => [result.ref, { score: result.score, metadata: result.matchData.metadata }])),
            };
            this.textResultsCache.set(cacheKey, result);
            return result;
          } catch (error) {
            console.error(error);
            this.searchError = `${error.message || error}`;
            return {
              docs: new Set(),
              extra: new Map(),
            };
          }
        }
      },

      getHistogramsForTimestampAndNumericFields() {
        const fields = new Map();

        for (const [index, field] of this.timestampAndNumericFields.entries()) {
          fields.set(field, this.getFieldHistogram(field, index));
        }

        return fields;
      },

      getFieldHistogram(field, fieldIndex) {
        const min = this.minForTimestampAndNumericFields[fieldIndex];
        const max = this.maxForTimestampAndNumericFields[fieldIndex];
        const fieldConfig = this.config[field];
        const range = max - min;

        assert(range >= 0, range);

        if (!range) {
          return null;
        }

        let binSize;
        let effectiveHistogramBins;
        if (fieldConfig.type === 'integer' && range + 1 < HISTOGRAM_BINS) {
          // A special case when there is less than "HISTOGRAM_BINS" of discrete values.
          // In this case we do not want to sample empty bins between values (but prefer to
          // draw wider lines in a histogram, for which we have "auto-line-width" enabled on
          // the "v-sparkline" component), and for the last bin we do not want to have two values
          // in the same bin. So we add one more artificial bin to the number of bins. We have
          // to compensate for that in "getFieldMax" so that slider is aligned with a histogram.
          // We handle that in "updateUpper" as well.
          effectiveHistogramBins = range + 1;
          binSize = 1;
        } else {
          effectiveHistogramBins = HISTOGRAM_BINS;
          binSize = range / effectiveHistogramBins;
        }

        if (!this.histogramsRangeResultsCache.has(field)) {
          this.histogramsRangeResultsCache.set(field, new LRU(LRU_CACHE_SIZE));
        }

        const results = this.getResults({ ignoreFiltersForField: field, withExtra: false });
        const lower = this.minForTimestampAndNumericFields.slice(0);
        const upper = this.maxForTimestampAndNumericFields.slice(0);
        const histogram = [];

        for (let i = 0; i < effectiveHistogramBins; i++) {
          this.updateLower(lower, fieldIndex, min + i * binSize);
          this.updateUpper(upper, fieldIndex, min + (i + 1) * binSize);

          const rangeResults = this.getResultsSetRange(lower, upper, this.histogramsRangeResultsCache.get(field));

          histogram.push({
            lower: lower[fieldIndex],
            upper: upper[fieldIndex],
            count: setIntersection(results, rangeResults).size,
          });
        }

        return histogram;
      },

      updateLower(lower, fieldIndex, fieldLower) {
        lower[fieldIndex] = fieldLower;
      },

      updateUpper(upper, fieldIndex, fieldUpper) {
        const min = this.minForTimestampAndNumericFields[fieldIndex];
        const max = this.maxForTimestampAndNumericFields[fieldIndex];
        const fieldConfig = this.config[this.timestampAndNumericFields[fieldIndex]];
        const range = max - min;

        if (fieldConfig.type === 'integer' && range + 1 < HISTOGRAM_BINS) {
          // Handling a special case here as well, as described in "getFieldHistogram",
          // to compensate for the histogram which has one more artificial bin.
          if (max + 1 === fieldUpper) {
            upper[fieldIndex] = fieldUpper;
          } else {
            upper[fieldIndex] = fieldUpper - 0.5;
          }
        } else if (max === fieldUpper) {
          // When chosen upper bound is the maximum for the field already, we do not subtract.
          // In histograms this mean the last bin includes also the max bound.
          upper[fieldIndex] = fieldUpper;
        } else if (fieldConfig.type === 'integer') {
          // Range query is inclusive on both sides, so we subtract
          // 0.5 for integer fields.
          upper[fieldIndex] = fieldUpper - 0.5;
        } else {
          // Range query is inclusive on both sides, so we subtract
          // 10x epsilon from the upper bound to not include it
          // (1x epsilon does not seem to be enough in practice).
          upper[fieldIndex] = fieldUpper - 10 * Number.EPSILON;
        }
      },

      constructFullQuery() {
        const query = {};

        for (const [field, [lower, upper]] of Object.entries(this.filterValues)) {
          if (this.histogramsForTimestampAndNumericFields.get(field)) {
            query[`filter.${field}.l`] = lower;
            query[`filter.${field}.u`] = upper;
          }
        }

        for (const [field, filter] of Object.entries(this.categoricalFilters)) {
          // We encode empty arrays as null, which can be represented in a query string.
          if (filter.values.length) {
            query[`filter.${field}.v`] = filter.values;
          } else {
            query[`filter.${field}.v`] = null;
          }
          query[`filter.${field}.l`] = filter.logic;
        }

        query.sort = this.sortBy;
        query.order = this.order;

        if (this.search && this.search.length) {
          query.search = this.search;
        } else {
          query.search = null;
        }

        return query;
      },

      updateFromQuery(query) {
        let setSearch = false;

        for (const [key, value] of Object.entries({ ...this.initialQuery, ...query })) {
          if (key.startsWith('filter.')) {
            const field = key.substring('filter.'.length, key.length - 2);
            if (this.categoricalFields.includes(field)) {
              if (key.endsWith('.v')) {
                const values = this.mapQueryValues(field, value);
                if (!arraySetEqual(values, this.categoricalFilters[field].values)) {
                  this.categoricalFilters[field].values = values;
                }
              } else if (key.endsWith('.l')) {
                this.categoricalFilters[field].logic = value;
              }
            } else if (key.endsWith('.l')) {
              const parsed = parseFloat(value);
              if (parsed !== this.filterValues[field][0]) {
                // Using "splice" so that Vue can detect the assignment.
                this.filterValues[field].splice(0, 1, parsed);
              }
            } else if (key.endsWith('.u')) {
              const parsed = parseFloat(value);
              if (parsed !== this.filterValues[field][1]) {
                // Using "splice" so that Vue can detect the assignment.
                this.filterValues[field].splice(1, 1, parsed);
              }
            }
          } else if (key === 'sort') {
            this.sortBy = value;
          } else if (key === 'order') {
            this.order = value;
          } else if (key === 'search') {
            this.search = value;
            this.searchDebounced = value;
            setSearch = true;
          }
        }

        if (!setSearch) {
          this.search = null;
          this.searchDebounced = null;
        }
      },

      mapQueryValues(field, values) {
        // We encode empty arrays as null, so we decode it here.
        if (values === null) {
          values = [];
        } else if (!Array.isArray(values)) {
          values = [values];
        }

        const valuesMap = this.valuesMapForCategoricalFields.get(field);

        return values.map(value => valuesMap.has(value) ? valuesMap.get(value) : value);
      },

      queryDiff(query1, query2) {
        const diff = {};

        for (const [key, value] of Object.entries(query1)) {
          if (!query2.hasOwnProperty(key)) {
            diff[key] = value;
          } else if (Array.isArray(value)) {
            if (!arraySetEqual(value, query2[key])) {
              diff[key] = value;
            }
          } else if (value !== query2[key]) {
            diff[key] = value;
          }
        }

        for (const [key, value] of Object.entries(query2)) {
          if (!query1.hasOwnProperty(key)) {
            diff[key] = value;
          }
        }

        return diff;
      },

      queryEqual(query1, query2) {
        const diff = this.queryDiff(query1, query2);

        if (Object.keys(diff).length === 0) {
          return true;
        }

        return false;
      },

      constructQuery() {
        const fullQuery = this.constructFullQuery();
        return this.queryDiff(fullQuery, this.initialQuery);
      },

      updateQuery() {
        if (!this.isActive) {
          return;
        }

        const query = this.constructQuery();

        if (this.queryEqual(query, this.$route.query)) {
          return;
        }

        this.$router.push({ query });
      },
    },
  };

  export default component;
</script>

<style lang="scss">
  .facet-count {
    margin-left: 5px;
  }

  .logic.v-select {
    font-size: 0.75rem;

    .v-input__slot {
      min-height: 32px !important;
    }
  }

  .sorted-by.v-select {
    flex-grow: 0;

    .v-select__selections {
      min-width: 4em;
    }

    .v-select__selection--comma {
      overflow: visible;
      text-overflow: unset;
    }
  }

  .v-select__selections input {
    display: none;
  }

  .filters, .results {
    > .row > .col:first-child {
      padding-top: 0;
    }

    > .row > .col:last-child {
      padding-bottom: 0;
    }
  }

  .results-header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
</style>
