<template>
  <v-row v-if="!indexData">
    <v-col
      sm="10"
      offset-sm="1"
      md="8"
      offset-md="2"
      xl="6"
      offset-xl="3"
    >
      <v-card>
        <v-alert v-if="error" type="error">
          Error downloading search index: {{ error }}
        </v-alert>
        <v-card-text v-else>
          <div class="text-center">
            Downloading search index...
          </div>
          <v-progress-linear
            :value="progressValue"
            rounded
            height="6"
            class="downloading-progress mt-2"
          />
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
  <!-- Rule is too strict. -->
  <!-- eslint-disable-next-line vue/valid-template-root -->
  <search v-else :data="indexData" :config="searchConfig">
    <template v-slot:result="{ result, metadata }">
      <v-card>
        <v-list-item>
          <v-list-item-avatar color="grey">
            <v-img v-if="result.gitlab.avatar_url" :src="result.gitlab.avatar_url" />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title
              class="highlightable"
            ><span v-for="(segment, index) in highlightText(result.name, 'name', metadata)" :key="index" :class="{highlight: segment.highlight}">{{ segment.text }}</span></v-list-item-title>
            <v-list-item-subtitle>
              <div class="v-item-group theme--light v-slide-group v-chip-group v-chip-group--column">
                <div class="v-slide-group__wrapper">
                  <div class="v-slide-group__content">
                    <!-- Setting "input-value" as a workaround. See: https://github.com/vuetifyjs/vuetify/issues/10115 -->
                    <v-chip
                      v-for="tag in result.tags"
                      :key="tag"
                      :input-value="true"
                      label
                      small
                    >{{ tag }}</v-chip>
                  </div>
                </div>
              </div>
            </v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon v-if="result.is_active">
            <v-chip
              color="green"
              text-color="white"
            >Active</v-chip>
          </v-list-item-icon>
          <v-list-item-icon v-else>
            <v-chip
              color="red"
              text-color="white"
            >Archived</v-chip>
          </v-list-item-icon>
        </v-list-item>

        <template v-if="result.description && result.description.length">
          <v-divider />

          <v-card-text v-html="highlightHTML(result.description, 'description', metadata)" class="highlightable" />
        </template>

        <v-divider />

        <v-card-text>
          <span class="font-weight-bold">GitLab</span>
          <v-row dense>
            <!-- Setting "input-value" as a workaround. See: https://github.com/vuetifyjs/vuetify/issues/10115 -->
            <v-col class="flex-grow-0">
              <div class="d-flex">
                <v-chip :input-value="true" class="term" small>
                  Created time
                </v-chip>
                <v-chip :input-value="true" class="value" small>
                  {{ moment(result.gitlab.created_at_timestamp * 1000).format('lll') }}
                </v-chip>
              </div>
            </v-col>
            <v-col class="flex-grow-0">
              <div class="d-flex">
                <v-chip :input-value="true" class="term" small>
                  Last activity
                </v-chip>
                <v-chip :input-value="true" class="value" small>
                  {{ moment(result.gitlab.last_activity_at_timestamp * 1000).format('lll') }}
                </v-chip>
              </div>
            </v-col>
            <v-col class="flex-grow-0">
              <div class="d-flex">
                <v-chip :input-value="true" class="term" small>
                  Storage size
                </v-chip>
                <v-chip :input-value="true" class="value" small>
                  {{ superbytes(result.gitlab.storage_size) }}
                </v-chip>
              </div>
            </v-col>
            <v-col class="flex-grow-0">
              <div class="d-flex">
                <v-chip :input-value="true" class="term" small>
                  Stars
                </v-chip>
                <v-chip :input-value="true" class="value" small>
                  {{ result.gitlab.star_count }}
                </v-chip>
              </div>
            </v-col>
            <v-col class="flex-grow-0">
              <div class="d-flex">
                <v-chip :input-value="true" class="term" small>
                  Issues
                </v-chip>
                <v-chip :input-value="true" class="value" small>
                  <span title="Opened">{{ result.gitlab.opened_issues_count }}</span>/<span title="Closed">{{ result.gitlab.closed_issues_count }}</span>/<span title="All">{{ result.gitlab.all_issues_count }}</span>
                </v-chip>
              </div>
            </v-col>
            <v-col class="flex-grow-0">
              <div class="d-flex">
                <v-chip :input-value="true" class="term" small>
                  Commits
                </v-chip>
                <v-chip :input-value="true" class="value" small>
                  {{ result.gitlab.commit_count }}
                </v-chip>
              </div>
            </v-col>
            <v-col class="flex-grow-0">
              <div class="d-flex">
                <v-chip :input-value="true" class="term" small>
                  Fetches in last 30 days
                </v-chip>
                <v-chip :input-value="true" class="value" small>
                  {{ result.gitlab.fetches_30days_count }}
                </v-chip>
              </div>
            </v-col>
          </v-row>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-btn :href="result.web_url" depressed>
            <v-icon
              left
            >mdi-gitlab</v-icon> GitLab
          </v-btn>
          <v-spacer />
          <v-btn-toggle
            v-model="gitUrlType"
            mandatory
            dense
            class="mr-2"
          >
            <v-btn
              value="https"
              depressed
              small
            >HTTPS</v-btn>
            <v-btn
              value="ssh"
              depressed
              small
            >SSH</v-btn>
          </v-btn-toggle>
          <!-- We have to use "single-line" here. See: https://github.com/vuetifyjs/vuetify/issues/10119 -->
          <v-text-field
            :value="gitUrlType === 'https' ? result.http_url_to_repo : result.ssh_url_to_repo"
            readonly
            dense
            filled
            single-line
            hide-details
          />
          <v-btn
            v-clipboard:copy="gitUrlType === 'https' ? result.http_url_to_repo : result.ssh_url_to_repo"
            text
            small
            icon
            title="Copy to clipboard"
          >
            <v-icon
              small
            >mdi-content-copy</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </search>
</template>

<script>
  import assert from 'assert';
  import pako from 'pako';
  import Vue from 'vue';
  import superbytes from 'superbytes';
  import moment from 'moment';

  import Search from '@/components/search.vue';

  let fetchingInProgress = false;
  const indexData = Vue.observable({
    progressLength: null,
    progressValue: null,
    error: null,
    data: null,
  });

  async function fetchIndexData() {
    if (indexData.data) {
      return;
    }

    if (fetchingInProgress) {
      return;
    }
    fetchingInProgress = true;

    try {
      indexData.error = null;

      // We fetch compressed index ourselves and decompress it in JavaScript because otherwise
      // we cannot know the expected size of the uncompressed index (Content-Length holds the size
      // of the compressed index by Content-Encoding compression).
      // See: https://github.com/whatwg/fetch/issues/986
      const response = await fetch('/index.json.gz');

      if (response.status !== 200) {
        console.error(response.statusText);
        indexData.error = response.statusText;
        return;
      }

      indexData.progressLength = parseInt(response.headers.get('Content-Length'));
      indexData.progressValue = 0;

      if (!indexData.progressLength) {
        console.error('Content-Length header is invalid.');
        indexData.error = 'Content-Length header is invalid.';
        return;
      }

      const reader = response.body.getReader();
      const inflator = new pako.Inflate();

      while (true) {
        const { done, value } = await reader.read();

        if (done) {
          assert(indexData.progressValue === indexData.progressLength);
          break;
        }

        indexData.progressValue += value.length;
        inflator.push(value, false);
      }

      Vue.nextTick(() => {
        inflator.push(new Uint8Array(0), false);

        if (inflator.err) {
          console.error(inflator.msg);
          indexData.error = inflator.msg;
          return;
        }

        try {
          indexData.data = Object.freeze(JSON.parse(new TextDecoder('utf8').decode(inflator.result)));
          indexData.progressLength = null;
          indexData.progressValue = null;
        } catch (error) {
          console.error(error);
          indexData.error = `${error}`;
        } finally {
          fetchingInProgress = false;
        }
      });
    } catch (error) {
      console.error(error);
      indexData.error = `${error}`;
    } finally {
      fetchingInProgress = false;
    }
  }

  // @vue/component
  const component = {
    components: {
      Search,
    },

    data() {
      return {
        gitUrlType: 'https',
        searchConfig: {
          name: {
            type: 'text',
          },
          description: {
            type: 'text',
          },
          is_active: {
            type: 'categorical',
            label: 'Is active',
            default: [true],
          },
          tags: {
            type: 'categorical',
            label: 'Tags',
            logic: 'and',
          },
          'gitlab.created_at_timestamp': {
            type: 'timestamp',
            label: 'GitLab created time',
            sortable: true,
            formatValue(value) {
              return moment(value * 1000).format('lll');
            },
          },
          'gitlab.last_activity_at_timestamp': {
            type: 'timestamp',
            label: 'GitLab last activity',
            sortable: true,
            defaultSort: true,
            formatValue(value) {
              return moment(value * 1000).format('lll');
            },
          },
          'gitlab.storage_size': {
            type: 'integer',
            label: 'GitLab storage size',
            sortable: true,
            formatValue(value) {
              return superbytes(value);
            },
          },
          'gitlab.star_count': {
            type: 'integer',
            label: 'GitLab stars',
            sortable: true,
          },
          'gitlab.opened_issues_count': {
            type: 'integer',
            label: 'GitLab opened issues',
            sortable: true,
          },
          'gitlab.closed_issues_count': {
            type: 'integer',
            label: 'GitLab closed issues',
            sortable: true,
          },
          'gitlab.all_issues_count': {
            type: 'integer',
            label: 'GitLab all issues',
            sortable: true,
          },
          'gitlab.commit_count': {
            type: 'integer',
            label: 'GitLab commits',
            sortable: true,
          },
          'gitlab.fetches_30days_count': {
            type: 'integer',
            label: 'GitLab fetches in last 30 days',
            sortable: true,
          },
        },
      };
    },

    computed: {
      progressValue() {
        if (!indexData.progressLength) {
          return null;
        }

        return indexData.progressValue / indexData.progressLength * 100.0;
      },

      indexData() {
        return indexData.data;
      },

      error() {
        return indexData.error;
      },
    },

    head() {
      return {
        title: 'Datasets',
      };
    },

    mounted() {
      fetchIndexData();
    },

    methods: {
      moment(...args) {
        return moment(...args);
      },

      superbytes(...args) {
        return superbytes(...args);
      },

      getHighlightPositions(fieldName, metadata) {
        if (!metadata) {
          return [];
        }

        const positions = [];
        for (const fields of Object.values(metadata)) {
          if (fields[fieldName] && fields[fieldName].position) {
            for (const [indexStart, length] of fields[fieldName].position) {
              if (length) {
                positions.push([indexStart, indexStart + length]);
              }
            }
          }
        }
        return positions;
      },

      highlightText(text, fieldName, metadata) {
        const positions = this.getHighlightPositions(fieldName, metadata);

        if (!positions.length) {
          return [{ text }];
        }

        const segments = [];

        let currentIndex = 0;
        for (const [indexStart, indexEnd] of positions) {
          if (currentIndex !== indexStart) {
            segments.push({
              text: text.substring(currentIndex, indexStart),
              highlight: false,
            });
          }
          segments.push({
            text: text.substring(indexStart, indexEnd),
            highlight: true,
          });
          currentIndex = indexEnd;
        }
        if (currentIndex < text.length) {
          segments.push({
            text: text.substring(currentIndex, text.length),
            highlight: false,
          });
        }

        return segments;
      },

      // This works well because all HTML tags are replaced with spaces before indexing. This means
      // that no token can contain HTML tags (because spaces will make it be multiple tokens). So when
      // we are highlighting we can be sure we can wrap every token with a highlight-span.
      highlightHTML(html, fieldName, metadata) {
        const positions = this.getHighlightPositions(fieldName, metadata);

        if (!positions.length) {
          return html;
        }

        // We sort so that we iterate from the last to the first position.
        positions.sort((a, b) => b[0] - a[0]);

        for (const [indexStart, indexEnd] of positions) {
          html = html.substring(0, indexStart) + '<span class="highlight">' + html.substring(indexStart, indexEnd) + '</span>' + html.substring(indexEnd);
        }

        return html;
      },
    },
  };

  export default component;
</script>

<style lang="scss">
  // We have to import it here because we are using style from the component, but not
  // really the component itself. Importing it makes it included in the generated bundle.
  @import '~vuetify/src/components/VChipGroup/VChipGroup.sass';

  .downloading-progress .v-progress-linear__determinate {
    // See: https://github.com/vuetifyjs/vuetify/issues/3453
    transition: none !important;
  }

  // Workaround. See: https://github.com/vuetifyjs/vuetify/issues/10118
  .v-card__actions .v-btn-toggle .v-btn {
    margin-left: 0 !important;
  }

  // "filled" adds min-height, but I prefer to keep the original height.
  .v-text-field--filled > .v-input__control > .v-input__slot {
    min-height: auto !important;
  }

  .v-chip.term {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 5px;
    border-right: 1px solid rgba(0,0,0,0.15);
  }

  .v-chip.value {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
    color: inherit;

    &::before {
      opacity: 0.12;
    }
  }

  .highlightable {
    .highlight {
      background-color: #ffecb3;
    }
  }
</style>
